body, h1, h2, h3, h4, h5, p, ul, li {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #4183c4; }
  a:hover {
    text-decoration: underline; }

body {
  background: #e8eef5;
  font: 12px/18px helvetica, arial, sans-serif;
  margin: 20px 0; }

h1 {
  color: black;
  font-size: 20px;
  letter-spacing: -1px;
  margin-bottom: 10px;
  padding: 5px 10px;
  text-shadow: 1px 1px 0 white; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  list-style-type: none; }

.round-3 {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; }

.round-5 {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }

.round-8 {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px; }

.width-50 {
  width: 50px; }

.width-100 {
  width: 100px; }

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
  width: 90%; }

#content {
  background: white;
  position: relative;
  padding: 10px; }

#ajax-loader {
  margin: 25px 0 25px 50px; }

#repositories {
  min-height: 500px;
  margin: 15px; }

#repositories th {
  text-align: left; }

.repository.bordered {
  border-bottom: 1px solid #cccccc; }

.repository {
  margin-bottom: 10px; }
  .repository td {
    padding: 5px;
    vertical-align: top; }
  .repository a.repo-title {
    font-size: 1.2em;
    font-weight: bold; }
  .repository .repository-name {
    width: 630px; }
  .repository .owner {
    text-align: right;
    width: auto; }
  .repository .forks, .repository .watchers {
    padding-left: 20px; }
  .repository .forks {
    background: url(../img/forks.png) no-repeat 0 -5px; }
  .repository .watchers {
    background: url(../img/watchers.png) no-repeat 0 -5px; }

.forked {
  background: url(../img/forks.png) no-repeat right -5px;
  padding-right: 15px; }

#menu {
  background: #e3e3e3;
  padding: 8px 15px;
  z-index: 10; }
  #menu span {
    color: #9f2222; }
  #menu li {
    background: #aaaaaa;
    display: inline;
    font-weight: bold;
    padding: 5px 15px;
    position: relative; }
  #menu li:hover {
    background: #888888;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-bottom-right-radius: 0;
    -moz-border-bottom-left-radius: 0; }
    #menu li:hover ul {
      display: inline; }
      #menu li:hover ul li:hover {
        background: black; }
        #menu li:hover ul li:hover a {
          color: white;
          text-decoration: none; }
  #menu li ul {
    background: #888888;
    display: none;
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%; }
    #menu li ul li {
      background: #e3e3e3;
      display: list-item;
      margin: 5px;
      padding: 2px 5px;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px; }
